@media (max-width:480px){
    .navbar{
        flex-direction: column;
        align-items: center;
        gap: 3px;
    }
    .titulo{
        margin-left: 50px;
    }
    .container{
        margin-top: 20%;
        margin-bottom: 200px;


    }
    .textos{
        font-size: 15px;
    }
    .textos h1, h2, h3{
        text-align: center;
    }

    .contactatemain{
        text-align: center;
    }
    
    .boton {
        margin-left: 48%;
    }

    nav ul li a{
        color: white;
        text-decoration: none;
        font-size: 15px;
        
    }
    .profesionales{
        display: grid;
        grid-template-columns: 2;
        grid-template-rows: 2;
        grid-template-areas:" dalma lisa "
                            "carlos ignacio";
    }
    
    .descripciondelosprofesionales{
        font-size: 15px;
        margin-left: 20px;
    
    }

    .containerdearticulos{
        align-items: center;
        
    }
    .containerdearticulos div {
        font-size: 18px}
    
    .texto2{
        font-size: 10px;
    }
    .containercontacto{
        display: grid;
        grid-template-columns: 1;
        grid-template-rows: 4;
        grid-template-areas:"ubicacion"
                            "sacaturno"
                            "horarios"
                            "redes";
    }


    .ubicacion iframe{
        width: 300px;
        height: 300px;
    }
    .sacaturno{
        font-size: 17px;
    }
    .horarios{
        font-size: 17px;
        margin-top: 10px;
    }
}
